# ==============================================================================
# Configuración local para Impresión PDF desde Odoo 19 vía CUPS
# Copia este archivo como '.env' y edita los valores según tu entorno.
# NO subas el archivo '.env' original al repositorio.
# ==============================================================================
ODOO_PORT=8072         
# o el puerto que consideres 

# Nombre de la base de datos de Odoo
ODOO_DB=odoo_aje

# puerto de la BD, se recomienda cambiar el puerto 
DB_PORT=5432
# Nombre o ID del contenedor Docker de Odoo
ODOO_CTR=odoo19-server-dev

# ( para impresora virtual)Ruta absoluta al directorio de addons personalizados en WSL2
ADDONS_DIR=/home/tu_usuario/odoo19_test_impresora/addons_custom

# (para impresora virtual)Ruta absoluta donde se guardarán los PDFs finales
OUTPUT_DIR=/home/tu_usuario/TutorialOdoo/impresiones_badge

# nombre de proyecto m problemas  de NAT m tablas de ruteo
PROJECT_NAME=impresora_test_final
# nombre de impresora
NOMBRE_IMPRESORA=EPSON_L3150
#