# ==============================================================================
# Configuración local para Impresión PDF desde Odoo 19 vía CUPS
# Copia este archivo como '.env' y edita los valores según tu entorno.
# NO subas el archivo '.env' original al repositorio.
# ==============================================================================
ODOO_PORT=8072         
# o el puerto que consideres 

# Nombre de la base de datos de Odoo
ODOO_DB=odoo_aje

# puerto de la BD, se recomienda cambiar el puerto 
DB_PORT=5432
# Nombre o ID del contenedor Docker de Odoo
ODOO_CTR=odoo19-server-dev

# nombre de la carpeta para descargar modulo base_report_to_printer
ADDONS_DIR=/home/tu_usuario/odoo19_test_impresora/addons_custom

# (para impresora virtual)Ruta absoluta donde se guardarán los PDFs finales
OUTPUT_DIR=/home/tu_usuario/TutorialOdoo/impresiones_badge

# nombre de proyecto m problemas  de NAT m tablas de ruteo
PROJECT_NAME=impresora_test_final
# nombre de impresora
NOMBRE_IMPRESORA=EPSON_L3150
# Marca comercial del fabricante de la impresora.
# Se usa para: Filtrar textualmente el hardware en 'lsusb' y encontrar la ruta (URI) en CUPS.
# Ejemplos comunes: EPSON, HP, Brother, Zebra, Xprinter (Respetar mayúsculas/minúsculas).
PRINTER_MARCA=EPSON
# Identificador técnico del Driver/Filtro que CUPS instalará y usará para procesar los datos.
# Se usa para: Buscar y asociar el archivo de definición de impresión (.ppd) correcto.
# Ejemplos comunes: 
#   - 'escpr'      -> Para inyección de tinta Epson (caso actual con la L3150).
#   - 'gutenprint' -> Driver genérico de alta compatibilidad para modelos antiguos o térmicos.
#   - 'hpcups'     -> Para la gran mayoría de impresoras HP.
#   - 'everywhere' -> Estándar universal sin drivers (Usado principalmente en conexiones Wi-Fi/IPP).
PRINTER_DRIVER=escpr
#